.main {
    display: flex;
    padding: 10px;
    /* padding: 10px; */
    justify-content: left;
}

.card-img {
    width: 126px;
    height: 168px;
    border: solid 2px;
    border-radius: 5px;
    margin-right: 10px;
    alt: "Loading";
}

.block2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.Location {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    /* width: 72px; */
    height: 10px;
    color: #2B283A;
}

.link-gmap {
    margin-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #918E9B;
}

.heading {
    display: flex;
    justify-content: left;
    /* padding-left: 10px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 326px;
    height: 33px;
    color: #2B283A;
}

.date {
    display: flex;
    width: 319px;
    height: 11px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.data {
    display: flex;
    text-align: left;
    /* justify-content: left; */
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #2B283A;
}