.nav {

    background: #F55A5A;
    height: 55px;



}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    /* font-style: normal; */
    font-weight: 500;
    font-size: 14.4608px;
    /* line-height: 18px; */
    letter-spacing: -0.075em;

}

.icon-img {
    margin: 10px 4px;
    /* position: absolute; */
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 50px);
    top: calc(50% - 24px/2 - 324px);

    /* background: #DADADA; */
}

.nav-content {
    margin-left: 0px;
}